// Mixins Here
.button(@color: white, @background:blue) {
  color: @color;
  font-size: 1.8rem;
  background: @background;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  text-align: center; /*put button in center*/
  padding: 7px; /*vertical align*/
  cursor: pointer;
}

/*parametric mix-in*/
.flex(@justify: center, @align: center) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.spacing {
  width: 95%;
  margin: 0 auto;
}
