// Mixins Here
.button(@color: white, @background:blue) {
  color: @color;
  font-size: 1.8rem;
  background: @background;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  padding: 6px 17px;
  cursor: pointer;
}

.flex(@justify: center, @align: center) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.spacing {
  width: 800px;
  margin: 0 auto;
}
