// Navigation code here
.nav-top {
  width: 1000px;
  margin: 0 auto;

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: @border-real;
    width: 100%;
    height: 100px;
    margin-top: 2%;

    h1 {
      font-size: 4rem;
      padding: 5%;
    }

    nav a {
      color: @ebony-clay;
      text-decoration: none;
      margin: 20px; /*space between a*/
      font-size: 1.5rem;
    }
  } //end .intro
} //end  home
